.nc-news-app {
  background-color: rgb(30, 179, 179);
  padding-top: 5px;
  padding-bottom: 5px;
}

.header {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-style: groove;
  border-radius: 10px;
  border-width: 8px;
  border-color: rgb(22, 119, 119);
  background-color: rgb(30, 179, 179);
}

.h1Andh2 {
  border-style: groove;
  border-radius: 10px;
  border-color: rgb(30, 179, 179);
  background-color: rgb(11, 97, 97);
  color: azure;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.main {
  text-align: left;
  margin: 10px;
  background-color: rgb(30, 179, 179);
  padding: 10px;
  border-style: groove;
  border-radius: 10px;
  border-color: rgb(18, 94, 94);
  border-width: 6px;
}

.categoryButtons {
  display: flex;
  justify-content: space-evenly;
}

.navButtons {
  height: 30px;
  width: 100px;
  background-color: rgb(11, 97, 97);
  border-radius: 10px;
  color: white;
  border-color: aliceblue;
  border-style: solid;
}

.orderButtons {
  display: flex;
  justify-content: space-evenly;
}

.articlesList {
  list-style: none;
  background-color: white;
  border-style: solid;
  border-radius: 10px;
  text-align: left;
  padding: 15px;
}

.articleTitle {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: larger;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(30, 179, 179);
  text-align: center;
}

.body {
  padding: 10px;
}

.topicsDiv {
  display: flex;
  justify-content: space-evenly;
}

.topicsButtons {
  margin-top: 20px;
  width: 200px;
  height: 150px;
  border-radius: 10px;
  border-style: ridge;
  background-color: rgb(129, 224, 224);
  font-size: xx-large;
  border-width: 8px;
}

.homepageButton {
  border-style: solid;
  border-color: black;
  background-color: rgb(129, 224, 224);
  color: white;
  border-radius: 10px;
  height: 30px;
  width: 100px;
}
