.nc-news-app {
  background-color: rgb(93, 189, 157);
  padding-top: 5px;
  padding-bottom: 5px;
}

.header {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-style: groove;
  border-radius: 10px;
  border-width: 8px;
  border-color: rgb(20, 153, 109);
  background-color: rgb(149, 228, 202);
}

.h1Andh2 {
  border-style: groove;
  border-radius: 10px;
  border-color: rgb(13, 116, 81);
  background-color: rgb(60, 139, 113);
  color: azure;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.main {
  text-align: left;
  margin: 10px;
  background-color: rgb(149, 228, 202);
  padding: 10px;
  border-style: groove;
  border-radius: 10px;
  border-color: rgb(13, 116, 81);
  border-width: 6px;
}

.mainTitles {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
}

.navButtons {
  height: 30px;
  width: 100px;
}

.articlesList {
  list-style: none;
  background-color: white;
  border-style: solid;
  border-radius: 10px;
  text-align: left;
  padding: 15px;
}

.articleTitle {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: larger;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(149, 228, 202);
  text-align: center;
}

.body {
  padding: 10px;
}
